@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

:root {
	--header-font: 'Oswald', serif;
	--body-font: 'Montserrat', serif;
	--primary-white: #f5f5f5;
	--tertiary-color: #e31c25;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--header-font);
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.landing_page{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
}

nav{
    font-size: 20px;
    font-weight: bold;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
} 

.my_picture{
    height: 100px;
}

.about{
    padding: 40px;
    background-color: bisque;
}

.about-container{
    display: flex;
    align-items:stretch
}

.about_1{
    flex: 1;
    width: 60%;
    font-size: 40px;
}

.abt_me{
    width: 1000px;
    border-radius: 10px;
}

.projects{
    padding: 40px;
    flex-direction: row;
    background-color: beige;
}

.project-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.project_text{
    flex: 1;
    font-size: 40px;
}

.project_img{
    width: 500px;
    border-radius: 10px;
}

.contacts{
    padding: 40px;
    background-color: black;
    color: burlywood;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* .languages{
    align-items: center;
    justify-content: flex-start;
} */