@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

:root {
	--header-font: 'Oswald', serif;
	--body-font: 'Montserrat', serif;
	--primary-white: #f5f5f5;
	--tertiary-color: #e31c25;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--header-font);
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.landing_page{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
}

nav{
    background-color: burlywood;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
} 